In [13]:
import pandas as pd
from sklearn.metrics import zero_one_loss, accuracy_score
from sklearn.model_selection import train_test_split, TimeSeriesSplit

idle_time_data = pd.read_csv('../data/final_df_18_21_class.csv')

In [14]:
idle_time_data

,bike_id,lat,lng,dt_start,dt_end,hex_id,in_zone,zone_name,end_station_number,temp,...,month,day,start_min,over_night,idle_time_next_day,idle_time,idle_time_class,on_station,hex_enc,zone_name_enc
0,3694,51.323619,12.335887,1514764029,1514764799,881f1a8d91fffff,1,Pinke Zone Leipzig West 1€,4094,10.80,...,12,6,1427,1,821,12,1,1,320,4
1,2508,51.323619,12.335887,1514764035,1514764799,881f1a8d91fffff,1,Pinke Zone Leipzig West 1€,4094,10.80,...,12,6,1427,1,1439,12,1,1,320,4
2,41851,51.332415,12.395158,1514764638,1514764799,881f1a1659fffff,1,Pinke Zone Leipzig Ost 1€,0,10.80,...,12,6,1437,1,1439,2,1,0,133,3
3,3694,51.323619,12.335887,1514764800,1514814103,881f1a8d91fffff,1,Pinke Zone Leipzig West 1€,4094,10.86,...,1,0,0,0,0,821,4,1,320,4
4,2508,51.323619,12.335887,1514764800,1514851199,881f1a8d91fffff,1,Pinke Zone Leipzig West 1€,4094,10.86,...,1,0,0,1,878,1439,4,1,320,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375898,72058,51.317569,12.382730,1640897593,1640904368,881f1a1609fffff,1,Blaue Zone Leipzig Ost 0€,0,13.19,...,12,3,1253,0,0,112,2,0,98,1
2375899,71949,51.334711,12.356763,1640897835,1640899343,881f1a1649fffff,1,Pinke Zone Leipzig Ost 1€,0,13.19,...,12,3,1257,0,0,25,1,0,126,3
2375900,97785,51.367276,12.369792,1640898086,1640900985,881f1a8c8bfffff,1,Blaue Zone Leipzig Ost 0€,0,13.05,...,12,3,1261,0,0,48,1,0,261,1
2375901,41738,51.366942,12.370322,1640900918,1640903516,881f1a8c8bfffff,1,Pinke Zone Leipzig Ost 1€,0,13.05,...,12,3,1309,0,0,43,1,0,261,3
2375902,72028,51.332844,12.404319,1640903200,1640905163,881f1a165bfffff,1,Blaue Zone Leipzig Ost 0€,0,13.11,...,12,3,1347,0,0,32,1,0,134,1

In [15]:
TargetVariable = ['idle_time_class']
Predictors = ['bike_id', 'lat', 'lng', 'temp', 'rain', 'snow', 'wind_speed', 'humidity', 'dt_start', 'hex_enc', 'start_min', 'year', 'month', 'day', 'on_station', 'in_zone', 'zone_name_enc']

In [7]:
X = idle_time_data[Predictors]
y = idle_time_data[TargetVariable]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, shuffle=False)

In [9]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train,y_train.values.ravel())
y_pred = knn.predict(X_test)

In [10]:
from sklearn.metrics import confusion_matrix
print(accuracy_score(y_test,y_pred))
confusion_matrix(y_test, y_pred)

0.28072039917420943

array([[59421, 86230,    81,    31],
       [57615, 73729,   103,    16],
       [50798, 58958,    98,    17],
       [42482, 45352,   105,   145]])