In [15]:
import pandas as pd

df_points = pd.read_csv('../../data/final_df_points_18_21_class.csv')
df_points.head()

,bike_id,lat,lng,dt_start,dt_end,hex_id,hex_enc,in_zone,zone_name,zone_name_enc,...,wind_speed,humidity,year,month,day,start_min,over_night,idle_time_next_day,idle_time,idle_time_class
0,3694,51.323619,12.335887,1514764029,1514764799,881f1a8d91fffff,324,1,Pinke Zone Leipzig West 1€,4,...,7.2,76.0,2017,12,6,1427,1,821,12,1
1,2508,51.323619,12.335887,1514764035,1514764799,881f1a8d91fffff,324,1,Pinke Zone Leipzig West 1€,4,...,7.2,76.0,2017,12,6,1427,1,1439,12,1
2,41851,51.332415,12.395158,1514764638,1514764799,881f1a1659fffff,137,1,Pinke Zone Leipzig Ost 1€,3,...,7.2,76.0,2017,12,6,1437,1,1439,2,1
3,3694,51.323619,12.335887,1514764800,1514814103,881f1a8d91fffff,324,1,Pinke Zone Leipzig West 1€,4,...,9.3,76.0,2018,1,0,0,0,0,821,4
4,2508,51.323619,12.335887,1514764800,1514851199,881f1a8d91fffff,324,1,Pinke Zone Leipzig West 1€,4,...,9.3,76.0,2018,1,0,0,1,878,1439,4

In [16]:
df_over_night = pd.DataFrame(columns=['hex_id','bike_count','over_nights','over_night_percent'])

In [17]:
df_over_night['hex_id'] = df_points['hex_id'].unique()

In [18]:
df_over_night = df_over_night.set_index('hex_id')

In [20]:
from tqdm import tqdm

ind = 0
for hexid in tqdm(df_over_night.index):
    tmp = df_points[df_points['hex_id'] == hexid]

    count = len(tmp)
    over_night = len(tmp[tmp['over_night']==1])
    percent = over_night / count

    df_over_night['bike_count'][hexid] = count
    df_over_night['over_nights'][hexid] = over_night
    df_over_night['over_night_percent'][hexid] = percent

100%|██████████| 556/556 [01:36<00:00,  5.77it/s]

In [21]:
df_over_night

                bike_count over_nights over_night_percent
hex_id
881f1a8d91fffff      72705       16072           0.221058
881f1a1659fffff      61761       12381           0.200466
881f1a8c83fffff      39538       14568           0.368456
881f1a160dfffff      44423       11496           0.258785
881f1a8ddbfffff      31332       13513           0.431284
...                    ...         ...                ...
881f1a9aabfffff          2           1                0.5
881f1a9aa3fffff          2           0                0.0
881f1a8f51fffff          1           0                0.0
881f1ab9d5fffff          2           1                0.5
881f1a98ddfffff         10           9                0.9

[556 rows x 3 columns]

In [24]:
df_over_night = df_over_night[df_over_night['bike_count'] > 10]

In [25]:
df_over_night

                bike_count over_nights over_night_percent
hex_id
881f1a8d91fffff      72705       16072           0.221058
881f1a1659fffff      61761       12381           0.200466
881f1a8c83fffff      39538       14568           0.368456
881f1a160dfffff      44423       11496           0.258785
881f1a8ddbfffff      31332       13513           0.431284
...                    ...         ...                ...
881f1a1689fffff         28          22           0.785714
881f1abb0dfffff         12           7           0.583333
881f1ab931fffff         12           6                0.5
881f1abb11fffff         14           6           0.428571
881f1a1721fffff         21           5           0.238095

[274 rows x 3 columns]

In [26]:
df_over_night.to_csv('../../data/df_over_night_heatmap_over_10.csv')