In [50]:
import pandas as pd
import numpy as np


df = pd.read_csv('../data/df_points_2018_2020_h8.csv')
df['time_start'] = pd.to_datetime(df['time_start'])
df['time_end'] = pd.to_datetime(df['time_end'])
#del df['Unnamed: 0']
df.head()

,bike_id,lat,lng,timestood,time_start,time_end,hex_id
0,3694.0,51.323619,12.335887,12,2017-12-31 23:47:09,2017-12-31 23:59:59,881f1a8d91fffff
1,3694.0,51.343813,12.381495,608,2018-01-01 13:51:06,2018-01-01 23:59:59,881f1a8cb1fffff
2,3694.0,51.343076,12.365177,35,2018-01-02 14:55:53,2018-01-02 15:31:44,881f1a8cbdfffff
3,3694.0,51.332874,12.373261,66,2018-01-02 22:53:45,2018-01-02 23:59:59,881f1a164bfffff
4,3694.0,51.297564,12.293015,424,2018-01-03 16:55:03,2018-01-03 23:59:59,881f1a8da3fffff

In [51]:
df['temp'] = np.nan
df['rain'] = np.nan
df['snow'] = np.nan
df.head()

,bike_id,lat,lng,timestood,time_start,time_end,hex_id,temp,rain,snow
0,3694.0,51.323619,12.335887,12,2017-12-31 23:47:09,2017-12-31 23:59:59,881f1a8d91fffff,NaN,NaN,NaN
1,3694.0,51.343813,12.381495,608,2018-01-01 13:51:06,2018-01-01 23:59:59,881f1a8cb1fffff,NaN,NaN,NaN
2,3694.0,51.343076,12.365177,35,2018-01-02 14:55:53,2018-01-02 15:31:44,881f1a8cbdfffff,NaN,NaN,NaN
3,3694.0,51.332874,12.373261,66,2018-01-02 22:53:45,2018-01-02 23:59:59,881f1a164bfffff,NaN,NaN,NaN
4,3694.0,51.297564,12.293015,424,2018-01-03 16:55:03,2018-01-03 23:59:59,881f1a8da3fffff,NaN,NaN,NaN

In [52]:
dfw = pd.read_csv('/Users/jonweske/devment/BA_nextbike/data/weather_data.csv')
dfw['datetime'] = pd.to_datetime(dfw['dt'], unit='s')
dfw = dfw.set_index(['datetime'])
dfw.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,temp_min,temp_max,humidity,wind_speed,wind_deg,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h
datetime,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,1483228800,2017-01-01 00:00:00 +0000 UTC,3600,Leipzig,51.339695,12.373075,-1.23,-1.47,-0.84,74,6.2,200,NaN,NaN,NaN,NaN,NaN
2017-01-01 01:00:00,1483232400,2017-01-01 01:00:00 +0000 UTC,3600,Leipzig,51.339695,12.373075,-1.59,-1.94,-1.41,73,7.2,210,NaN,NaN,NaN,NaN,NaN
2017-01-01 02:00:00,1483236000,2017-01-01 02:00:00 +0000 UTC,3600,Leipzig,51.339695,12.373075,-1.68,-1.94,-1.49,73,6.7,220,NaN,NaN,NaN,NaN,NaN
2017-01-01 03:00:00,1483239600,2017-01-01 03:00:00 +0000 UTC,3600,Leipzig,51.339695,12.373075,-1.84,-2.10,-1.60,68,6.2,210,NaN,NaN,NaN,NaN,NaN
2017-01-01 04:00:00,1483243200,2017-01-01 04:00:00 +0000 UTC,3600,Leipzig,51.339695,12.373075,-2.07,-2.94,-1.65,73,4.1,190,NaN,NaN,NaN,NaN,NaN

In [56]:
import datetime
import time
from tqdm import tqdm

for ind in tqdm(df.index):
    wint = df['time_start'][ind].replace(minute=0,second=0)
    df['temp'][ind] = dfw['temp'][wint]
    df['rain'][ind] = dfw['rain_3h'][wint]
    df['snow'][ind] = dfw['snow_3h'][wint]

df.head()

  0%|                                               | 0/1802499 [00:00<?, ?it/s]/var/folders/5t/28jzvs016nq5vxslb670gs040000gn/T/ipykernel_8561/780489618.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temp'][ind] = dfw['temp'][wint]
/var/folders/5t/28jzvs016nq5vxslb670gs040000gn/T/ipykernel_8561/780489618.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rain'][ind] = dfw['rain_3h'][wint]
/var/folders/5t/28jzvs016nq5vxslb670gs040000gn/T/ipykernel_8561/780489618.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['snow'][ind] = dfw['snow_3h'][wint]
  2%|▌                                | 29634/1802499 [00:22<22:44, 1299.51it/s]

KeyboardInterrupt: