# Combine all df_points to one df
2018-2021: 2.547.157 rows

In [1]:
import pandas as pd

In [3]:
import numpy as np
alphas = np.logspace(-1, 1, 5)
alphas

array([ 0.1       ,  0.31622777,  1.        ,  3.16227766, 10.        ])

In [2]:
dfa = pd.read_csv('../data/df_points/df_points_2018.csv')
dfb = pd.read_csv('../data/df_points/df_points_2019.csv')
dfc = pd.read_csv('../data/df_points/df_points_2020.csv')
dfd = pd.read_csv('../data/df_points/df_points_2021.csv')

In [3]:
combined = pd.concat([dfa, dfb, dfc, dfd], ignore_index=True)

In [4]:
combined.tail()

,bike_id,lat,lng,dt_start,dt_end,hex_id,hex_enc,temp,rain,snow,month,day,start_min,over_night,idle_time_next_day,idle_time
2547153,97516,51.324615,12.336922,1633737600,1633823999,881f1a8d91fffff,226,5.64,0.0,0.0,10,5,0,1,1439,1439
2547154,97516,51.324615,12.336922,1633824000,1633910399,881f1a8d91fffff,226,4.00,0.0,0.0,10,6,0,1,1439,1439
2547155,97516,51.324615,12.336922,1633910400,1633996799,881f1a8d91fffff,226,4.59,0.0,0.0,10,0,0,1,1439,1439
2547156,97516,51.324615,12.336922,1633996800,1634083199,881f1a8d91fffff,226,8.17,0.0,0.0,10,1,0,1,1096,1439
2547157,97516,51.324615,12.336922,1634083200,1634148977,881f1a8d91fffff,226,6.03,0.0,0.0,10,2,0,0,0,1096

In [5]:
combined.to_csv('../data/final_df_points_18_21.csv', index=False)