In [1]:
import pandas as pd

In [2]:
dfb = pd.read_csv('/Users/jonweske/devment/BA_nextbike/data/df_points_2021_v1_final.csv')

In [3]:
dfa = pd.read_csv('/Users/jonweske/devment/BA_nextbike/data/final_df_points_2018_2020_h8.csv')

In [4]:
combined = pd.concat([dfa, dfb], ignore_index=True)

In [5]:
dfa.tail()

,bike_id,lat,lng,timestood,time_start,time_end,hex_id
1802494,93544.0,51.32116,12.269497,1439,2020-07-21 00:00:00,2020-07-21 23:59:59,881f1a8debfffff
1802495,93544.0,51.32116,12.269497,1439,2020-07-22 00:00:00,2020-07-22 23:59:59,881f1a8debfffff
1802496,93544.0,51.32116,12.269497,1439,2020-07-23 00:00:00,2020-07-23 23:59:59,881f1a8debfffff
1802497,93544.0,51.32116,12.269497,1439,2020-07-24 00:00:00,2020-07-24 23:59:59,881f1a8debfffff
1802498,93544.0,51.32116,12.269497,1361,2020-07-25 00:00:00,2020-07-25 22:41:47,881f1a8debfffff

In [6]:
dfb.tail()

,bike_id,lat,lng,timestood,time_start,time_end,hex_id
632935,97516.0,51.324615,12.336922,1439,2021-10-09 00:00:00,2021-10-09 23:59:59,881f1a8d91fffff
632936,97516.0,51.324615,12.336922,1439,2021-10-10 00:00:00,2021-10-10 23:59:59,881f1a8d91fffff
632937,97516.0,51.324615,12.336922,1439,2021-10-11 00:00:00,2021-10-11 23:59:59,881f1a8d91fffff
632938,97516.0,51.324615,12.336922,1439,2021-10-12 00:00:00,2021-10-12 23:59:59,881f1a8d91fffff
632939,97516.0,51.324615,12.336922,1096,2021-10-13 00:00:00,2021-10-13 18:16:17,881f1a8d91fffff

In [7]:
combined.tail()

,bike_id,lat,lng,timestood,time_start,time_end,hex_id
2435434,97516.0,51.324615,12.336922,1439,2021-10-09 00:00:00,2021-10-09 23:59:59,881f1a8d91fffff
2435435,97516.0,51.324615,12.336922,1439,2021-10-10 00:00:00,2021-10-10 23:59:59,881f1a8d91fffff
2435436,97516.0,51.324615,12.336922,1439,2021-10-11 00:00:00,2021-10-11 23:59:59,881f1a8d91fffff
2435437,97516.0,51.324615,12.336922,1439,2021-10-12 00:00:00,2021-10-12 23:59:59,881f1a8d91fffff
2435438,97516.0,51.324615,12.336922,1096,2021-10-13 00:00:00,2021-10-13 18:16:17,881f1a8d91fffff

In [8]:
combined.to_csv('../data/final_df_points_18-19-20-21_v1_h8.csv', index=False)