# df_points with UNIX Timestamp #
## Creates df_points.csv with all points and idletimes #
## Checks the valid geo location
## deletes the invalid points: 
2019 - ca. 9.5%

2020 - ca. 2.7%

### ca 1h for 1 year

In [12]:
def importdata():

    # show all rows
    pd.set_option('display.max_rows', None)
    #pd.set_option('display.max_columns', None)
    # import Data
    df01 = pd.read_csv('/Users/jonweske/devment/BA_nextbike/data/lendings_2021_bis_10_31.csv')
    df01 = df01[['bike_id', 'start_time', 'end_time', 'start_lat', 'start_lng', 'end_lat', 'end_lng']]
    #df01 = df01.truncate(after=10000)
    return df01

In [13]:
def dicOutOfDf(df01):
    import pandas as pd
    from tqdm import tqdm
    # Dict out of DataFrames of Trips per Bike

    # init DFs for every bike
    myDFs = {}

    for ind in tqdm(df01.index):
        if df01['bike_id'][ind] not in myDFs:
            myDFs[df01['bike_id'][ind]] = pd.DataFrame(
                columns=['bike_id', 'start_time', 'end_time', 'start_lat', 'start_lng', 'end_lat', 'end_lng'])

    return myDFs

In [14]:
def addRentalsToDf(df01,myDFs):
    from tqdm import tqdm
    # Add all rentals to their bike_id DF
    for ind in tqdm(df01.index):
        if df01['bike_id'][ind] in myDFs:
            myDFs[df01['bike_id'][ind]].loc[df01.index[ind]] = df01.iloc[ind]
    return myDFs

In [15]:
def sortDFs(myDFs):
    # sort every DF
    for df in myDFs.values():
        df[['bike_id', 'start_time','end_time']] = df[['bike_id', 'start_time','end_time']].astype(int)
        df[['start_lat','start_lng', 'end_lat', 'end_lng']] = df[['start_lat','start_lng', 'end_lat', 'end_lng']].astype(float)
        df.sort_values(by=['start_time'], inplace=True)
        df.reset_index(drop=True, inplace=True)
    return myDFs

In [16]:
def dfPoints(myDFs,radius):
    # DF of all points with stoodtime
    inval = 0
    val = 0 
    
    df_points = pd.DataFrame(columns=['bike_id', 'lat', 'lng', 'timestood', 'time_start', 'time_end'])
    df_points[['bike_id', 'timestood', 'time_start', 'time_end']] = df_points[['bike_id', 'timestood', 'time_start', 'time_end']].astype(int)
    df_points[['lng', 'lat']] = df_points[['lng', 'lat']].astype(float)
    
    for df in tqdm(myDFs.values()):
        for ind in df.index[1:]:
            #in SECOUNDS
            timestood = (df['start_time'][ind] - df['end_time'][ind - 1]).astype(int)
            distance = qick_distance(df['end_lat'][ind-1], df['end_lng'][ind-1], df['start_lat'][ind], df['start_lng'][ind])
            if distance > radius:
                inval +=1
                continue
            val +=1
            dict = {'bike_id': df['bike_id'][ind], 'lng': df['start_lng'][ind], 'lat': df['start_lat'][ind],
                    'timestood': timestood, 'time_start': df['end_time'][ind - 1], 'time_end': df['start_time'][ind]}
            df_points = df_points.append(dict, ignore_index=True)
    print(f"invalides: {inval} from {val} thats {inval/val * 100} %")
    return df_points

In [17]:
#old
def diff(Elat, Elng, Slat, Slng):
    xdiff = abs(round(Elat,8)-round(Slat,8)) * 100000
    ydiff = abs(round(Elng,8)-round(Slng,8)) * 100000
    #print(f"{xdiff} und {ydiff}")
    return xdiff,ydiff

In [18]:
# returns distance in meter
# source: https://www.it-swarm.com.de/de/python/wie-kann-ich-die-entfernung-zwischen-zwei-punkten-breitengrad-laengengrad-schnell-schaetzen/1072488907/
def qick_distance(Lat1, Long1, Lat2, Long2):
    x = Lat2 - Lat1
    y = (Long2 - Long1)*cos((Lat2 + Lat1)*0.00872664626)  
    return 111.138*sqrt(x*x+y*y)*1000

In [19]:
def keplerMap(df_points):
    heatmap = KeplerGl()
    heatmap.add_data(data=df_points, name='points')
    heatmap.save_to_html(file_name='heatmap_test.html')

# Main 
## Create MyDfs Map

In [20]:
from keplergl import KeplerGl
import pandas as pd
pd.options.mode.chained_assignment = None
from tqdm import tqdm
from geopy.distance import geodesic
import h3

df = pd.DataFrame()

df = importdata()
myDfs = dicOutOfDf(df)
myDfs = addRentalsToDf(df, myDfs)
myDfs = sortDFs(myDfs)

100%|███████████████████████████████| 488718/488718 [00:03<00:00, 153104.49it/s]
100%|██████████████████████████████████| 488718/488718 [10:25<00:00, 780.73it/s]

## Save MyDfs Map to file

import pickle
with open('saved_myDfs_2019.pkl', 'wb') as f:
    pickle.dump(myDfs, f)

## Create DF_points 
### without ~9.573 % invalid points
52523 from 550865

def importMyDFsDic():
    with open('../data/saved_myDfs.pkl', 'rb') as f:
        myDfs = pickle.load(f)
    return myDfs

# ggf Map from file importieren
import pickle
myDf_imported = importMyDFsDic()

In [21]:
# create DF_POints
from math import radians, cos, sin, asin, sqrt
import pandas as pd
pd.options.mode.chained_assignment = None
from tqdm import tqdm

radius = 20
df_points = dfPoints(myDfs,radius)

100%|███████████████████████████████████████| 1199/1199 [31:06<00:00,  1.56s/it]

invalides: 16724 from 470795 thats 3.55228921292707 %

## Save df_points_valid_geov01.csv

df_points.to_csv("../data/df_points_2019_v1.csv",index=False)

df_points.head()

# Split Points at midnight

In [22]:
df_points['timestood'] = pd.to_timedelta(df_points['timestood'],unit='s')
df_points['time_start'] = pd.to_datetime(df_points['time_start'],unit='s')
df_points['time_end'] = pd.to_datetime(df_points['time_end'],unit='s')

In [23]:
from tqdm import tqdm
from datetime import timedelta, datetime, date

changed = 1
iterations = 0

while changed:
    iterations += 1
    changed = 0
    for ind in tqdm(df_points.index):
        ts = df_points['time_start'][ind]
        te = df_points['time_end'][ind]
        t0 = ts.replace(hour=23, minute=59, second=59)
        
        # is timestood greater than same date 23:59:59
        #   -> over midnight
        if ts + df_points['timestood'][ind] > t0:
            changed = 1
            
            underhang = t0 - ts
            overhang = te - t0
            
            # fix current day
            df_points['time_end'][ind] = ts.replace(hour=23, minute=59, second=59)
            df_points['timestood'][ind] = underhang
            
            # add new row
            time_start = ts.replace(hour=0, minute=0, second=0)
            time_start += timedelta(days=1)
            
            flag = 0
            if time_start + overhang > time_start.replace(hour=23, minute=59, second=59):
                flag = 1
            
            dict = {'bike_id': df_points['bike_id'][ind], 'lng': df_points['lng'][ind], 'lat': df_points['lat'][ind],
                    'timestood': overhang, 'time_start': time_start, 'time_end': te, 'flag' : flag}
            df_points = df_points.append(dict, ignore_index=True)
print(iterations)

100%|██████████████████████████████████| 470795/470795 [48:11<00:00, 162.83it/s]
100%|██████████████████████████████████| 585350/585350 [09:54<00:00, 984.14it/s]
100%|█████████████████████████████████| 606050/606050 [04:41<00:00, 2153.52it/s]
100%|█████████████████████████████████| 615244/615244 [02:47<00:00, 3683.68it/s]
100%|█████████████████████████████████| 620298/620298 [01:53<00:00, 5487.33it/s]
100%|█████████████████████████████████| 623441/623441 [01:24<00:00, 7391.38it/s]
100%|█████████████████████████████████| 625540/625540 [01:07<00:00, 9245.57it/s]
100%|████████████████████████████████| 627035/627035 [00:56<00:00, 11000.89it/s]
100%|████████████████████████████████| 628152/628152 [00:49<00:00, 12602.90it/s]
100%|████████████████████████████████| 629012/629012 [00:44<00:00, 14103.21it/s]
100%|████████████████████████████████| 629678/629678 [00:42<00:00, 14855.75it/s]
100%|████████████████████████████████| 630196/630196 [00:38<00:00, 16569.13it/s]
100%|████████████████████████████████| 630610/630610 [00:37<00:00, 16881.84it/s]
100%|████████████████████████████████| 630934/630934 [00:33<00:00, 18951.83it/s]
100%|████████████████████████████████| 631210/631210 [00:31<00:00, 20164.21it/s]
100%|████████████████████████████████| 631437/631437 [00:32<00:00, 19351.44it/s]
100%|████████████████████████████████| 631619/631619 [00:31<00:00, 20204.92it/s]
100%|████████████████████████████████| 631772/631772 [00:29<00:00, 21240.36it/s]
100%|████████████████████████████████| 631898/631898 [00:26<00:00, 23438.46it/s]
100%|████████████████████████████████| 631998/631998 [00:26<00:00, 23922.81it/s]
100%|████████████████████████████████| 632083/632083 [00:25<00:00, 24767.06it/s]
100%|████████████████████████████████| 632146/632146 [00:26<00:00, 24240.62it/s]
100%|████████████████████████████████| 632201/632201 [00:25<00:00, 25162.75it/s]
100%|████████████████████████████████| 632252/632252 [00:25<00:00, 25273.10it/s]
100%|████████████████████████████████| 632295/632295 [00:24<00:00, 25521.18it/s]
100%|████████████████████████████████| 632332/632332 [00:25<00:00, 24832.23it/s]
100%|████████████████████████████████| 632363/632363 [00:29<00:00, 21803.02it/s]
100%|████████████████████████████████| 632393/632393 [00:27<00:00, 22923.66it/s]
100%|████████████████████████████████| 632422/632422 [00:25<00:00, 24827.59it/s]
100%|████████████████████████████████| 632448/632448 [00:24<00:00, 26299.26it/s]
100%|████████████████████████████████| 632474/632474 [00:29<00:00, 21537.52it/s]
100%|████████████████████████████████| 632500/632500 [00:27<00:00, 23197.14it/s]
100%|████████████████████████████████| 632526/632526 [00:25<00:00, 24330.21it/s]
100%|████████████████████████████████| 632550/632550 [00:25<00:00, 24640.82it/s]
100%|████████████████████████████████| 632574/632574 [00:26<00:00, 23569.66it/s]
100%|████████████████████████████████| 632595/632595 [00:29<00:00, 21402.15it/s]
100%|████████████████████████████████| 632614/632614 [00:24<00:00, 25604.85it/s]
100%|████████████████████████████████| 632632/632632 [00:24<00:00, 25427.73it/s]
100%|████████████████████████████████| 632649/632649 [00:24<00:00, 25904.20it/s]
100%|████████████████████████████████| 632666/632666 [00:24<00:00, 26085.14it/s]
100%|████████████████████████████████| 632681/632681 [00:24<00:00, 25397.88it/s]
100%|████████████████████████████████| 632695/632695 [00:24<00:00, 25539.46it/s]
100%|████████████████████████████████| 632709/632709 [00:24<00:00, 25435.02it/s]
100%|████████████████████████████████| 632722/632722 [00:24<00:00, 25683.98it/s]
100%|████████████████████████████████| 632735/632735 [00:24<00:00, 25958.74it/s]
100%|████████████████████████████████| 632748/632748 [00:24<00:00, 26045.18it/s]
100%|████████████████████████████████| 632760/632760 [00:24<00:00, 26187.54it/s]
100%|████████████████████████████████| 632772/632772 [00:24<00:00, 26008.50it/s]
100%|████████████████████████████████| 632783/632783 [00:24<00:00, 26138.35it/s]
100%|████████████████████████████████| 632793/632793 [00:24<00:00, 26232.89it/s]
100%|████████████████████████████████| 632801/632801 [00:24<00:00, 26143.98it/s]
100%|████████████████████████████████| 632808/632808 [00:24<00:00, 25752.48it/s]
100%|████████████████████████████████| 632815/632815 [00:24<00:00, 26073.42it/s]
100%|████████████████████████████████| 632821/632821 [00:24<00:00, 26177.17it/s]
100%|████████████████████████████████| 632827/632827 [00:24<00:00, 25960.93it/s]
100%|████████████████████████████████| 632833/632833 [00:24<00:00, 26059.67it/s]
100%|████████████████████████████████| 632839/632839 [00:24<00:00, 26133.81it/s]
100%|████████████████████████████████| 632845/632845 [00:24<00:00, 26057.94it/s]
100%|████████████████████████████████| 632850/632850 [00:24<00:00, 26265.72it/s]
100%|████████████████████████████████| 632855/632855 [00:24<00:00, 26117.41it/s]
100%|████████████████████████████████| 632860/632860 [00:24<00:00, 26246.89it/s]
100%|████████████████████████████████| 632865/632865 [00:24<00:00, 26268.45it/s]
100%|████████████████████████████████| 632869/632869 [00:24<00:00, 26191.27it/s]
100%|████████████████████████████████| 632872/632872 [00:24<00:00, 25393.75it/s]
100%|████████████████████████████████| 632875/632875 [00:23<00:00, 26400.98it/s]
100%|████████████████████████████████| 632878/632878 [00:24<00:00, 26227.46it/s]
100%|████████████████████████████████| 632881/632881 [00:24<00:00, 25883.01it/s]
100%|████████████████████████████████| 632884/632884 [00:24<00:00, 26306.54it/s]
100%|████████████████████████████████| 632886/632886 [00:24<00:00, 26360.66it/s]
100%|████████████████████████████████| 632888/632888 [00:24<00:00, 25705.73it/s]
100%|████████████████████████████████| 632890/632890 [00:24<00:00, 26308.80it/s]
100%|████████████████████████████████| 632892/632892 [00:24<00:00, 26335.45it/s]
100%|████████████████████████████████| 632894/632894 [00:24<00:00, 26183.39it/s]
100%|████████████████████████████████| 632896/632896 [00:24<00:00, 26275.10it/s]
100%|████████████████████████████████| 632898/632898 [00:24<00:00, 26200.64it/s]
100%|████████████████████████████████| 632900/632900 [00:24<00:00, 25640.32it/s]
100%|████████████████████████████████| 632902/632902 [00:24<00:00, 25510.28it/s]
100%|████████████████████████████████| 632904/632904 [00:24<00:00, 26059.32it/s]
100%|████████████████████████████████| 632906/632906 [00:24<00:00, 25458.47it/s]
100%|████████████████████████████████| 632907/632907 [00:24<00:00, 26287.32it/s]
100%|████████████████████████████████| 632908/632908 [00:24<00:00, 26110.88it/s]
100%|████████████████████████████████| 632909/632909 [00:24<00:00, 26193.69it/s]
100%|████████████████████████████████| 632910/632910 [00:24<00:00, 26161.48it/s]
100%|████████████████████████████████| 632911/632911 [00:24<00:00, 25963.79it/s]
100%|████████████████████████████████| 632912/632912 [00:24<00:00, 26254.58it/s]
100%|████████████████████████████████| 632913/632913 [00:24<00:00, 26163.88it/s]
100%|████████████████████████████████| 632914/632914 [00:24<00:00, 26271.58it/s]
100%|████████████████████████████████| 632915/632915 [00:24<00:00, 26068.31it/s]
100%|████████████████████████████████| 632916/632916 [00:24<00:00, 26197.32it/s]
100%|████████████████████████████████| 632917/632917 [00:24<00:00, 26049.35it/s]
100%|████████████████████████████████| 632918/632918 [00:24<00:00, 26170.82it/s]
100%|████████████████████████████████| 632919/632919 [00:24<00:00, 26108.45it/s]
100%|████████████████████████████████| 632920/632920 [00:24<00:00, 26157.24it/s]
100%|████████████████████████████████| 632921/632921 [00:24<00:00, 26210.30it/s]
100%|████████████████████████████████| 632922/632922 [00:24<00:00, 26280.84it/s]
100%|████████████████████████████████| 632923/632923 [00:24<00:00, 26176.56it/s]
100%|████████████████████████████████| 632924/632924 [00:24<00:00, 25973.73it/s]
100%|████████████████████████████████| 632925/632925 [00:25<00:00, 25283.56it/s]
100%|████████████████████████████████| 632926/632926 [00:24<00:00, 25901.99it/s]
100%|████████████████████████████████| 632927/632927 [00:24<00:00, 26187.27it/s]
100%|████████████████████████████████| 632928/632928 [00:24<00:00, 26138.15it/s]

100%|████████████████████████████████| 632929/632929 [00:23<00:00, 26642.34it/s]
100%|████████████████████████████████| 632930/632930 [00:23<00:00, 26725.33it/s]
100%|████████████████████████████████| 632931/632931 [00:24<00:00, 26157.50it/s]
100%|████████████████████████████████| 632932/632932 [00:24<00:00, 25909.38it/s]
100%|████████████████████████████████| 632933/632933 [00:24<00:00, 25805.57it/s]
100%|████████████████████████████████| 632934/632934 [00:23<00:00, 26626.93it/s]
100%|████████████████████████████████| 632935/632935 [00:23<00:00, 26551.49it/s]
100%|████████████████████████████████| 632936/632936 [00:23<00:00, 26520.75it/s]
100%|████████████████████████████████| 632937/632937 [00:24<00:00, 26284.13it/s]
100%|████████████████████████████████| 632938/632938 [00:23<00:00, 26580.92it/s]
100%|████████████████████████████████| 632939/632939 [00:23<00:00, 26579.31it/s]
100%|████████████████████████████████| 632940/632940 [00:23<00:00, 26653.67it/s]

113

In [24]:
for ind in tqdm(df_points.index):
    df_points['timestood'][ind] = df_points['timestood'][ind].seconds / 60

100%|██████████████████████████████████| 632940/632940 [47:16<00:00, 223.17it/s]

In [25]:
df_points[['timestood']] = df_points[['timestood']].astype(int)

# Save V2 df_points split

df_points.to_csv("../data/df_points_2019_v2.csv",index=False)

In [26]:
df_points['timestood'].max()

1439

In [28]:
df_points.head()

,bike_id,lat,lng,timestood,time_start,time_end,flag
0,75838.0,51.331022,12.316226,37,2020-12-31 23:22:04,2020-12-31 23:59:59,NaN
1,75838.0,51.326178,12.334760,272,2021-01-04 19:27:48,2021-01-04 23:59:59,NaN
2,75838.0,51.332178,12.343082,454,2021-01-05 05:34:11,2021-01-05 13:08:40,NaN
3,75838.0,51.324615,12.336922,294,2021-01-05 13:13:36,2021-01-05 18:08:29,NaN
4,75838.0,51.330267,12.336166,347,2021-01-05 18:12:29,2021-01-05 23:59:59,NaN

## Add H3 Index

In [29]:
import h3

#dfh3 = pd.read_csv('../data/df_points_2020_v2.csv')
#dfh3['hex_id'] = 0
#dfh3.head()

df_points['hex_id'] = 0

for ind in tqdm(df_points.index):
    df_points['hex_id'][ind] = h3.geo_to_h3(df_points['lat'][ind], df_points['lng'][ind], 8)
df_points.head()

100%|████████████████████████████████| 632940/632940 [00:11<00:00, 56341.01it/s]

,bike_id,lat,lng,timestood,time_start,time_end,flag,hex_id
0,75838.0,51.331022,12.316226,37,2020-12-31 23:22:04,2020-12-31 23:59:59,NaN,881f1a8dd7fffff
1,75838.0,51.326178,12.334760,272,2021-01-04 19:27:48,2021-01-04 23:59:59,NaN,881f1a8d91fffff
2,75838.0,51.332178,12.343082,454,2021-01-05 05:34:11,2021-01-05 13:08:40,NaN,881f1a8d9bfffff
3,75838.0,51.324615,12.336922,294,2021-01-05 13:13:36,2021-01-05 18:08:29,NaN,881f1a8d91fffff
4,75838.0,51.330267,12.336166,347,2021-01-05 18:12:29,2021-01-05 23:59:59,NaN,881f1a8d9bfffff

In [30]:
del df_points['flag']

In [31]:
#del df_points['flag']
df_points.head()

,bike_id,lat,lng,timestood,time_start,time_end,hex_id
0,75838.0,51.331022,12.316226,37,2020-12-31 23:22:04,2020-12-31 23:59:59,881f1a8dd7fffff
1,75838.0,51.326178,12.334760,272,2021-01-04 19:27:48,2021-01-04 23:59:59,881f1a8d91fffff
2,75838.0,51.332178,12.343082,454,2021-01-05 05:34:11,2021-01-05 13:08:40,881f1a8d9bfffff
3,75838.0,51.324615,12.336922,294,2021-01-05 13:13:36,2021-01-05 18:08:29,881f1a8d91fffff
4,75838.0,51.330267,12.336166,347,2021-01-05 18:12:29,2021-01-05 23:59:59,881f1a8d9bfffff

# Save V3 df_points H3

In [32]:
df_points.to_csv('../data/df_points_2021_v1_final.csv', index=False)