# df_points with UNIX Timestamp #
## Creates df_points.csv with all points and idletimes #
## Checks the valid geo location
## deletes the invalid points: 


2019 - invalides: 52523 from 550865 that is 9.534640973741297 % - 04:38:48

2020 - invalides: 18082 from 662365 that is 2.729914775086244 %

2021 - ca.

### ca 1h for 1 year

In [370]:
def importdata(source):
    df = pd.read_csv(source)
    df = df[['bike_id', 'start_time', 'end_time', 'start_lat', 'start_lng', 'end_lat', 'end_lng']]
    return df

In [371]:
def dicOutOfDf(df01):
    import pandas as pd
    from tqdm import tqdm
    # Dict out of DataFrames of Trips per Bike

    # init DFs for every bike
    myDFs = {}

    for ind in tqdm(df01.index):
        if df01['bike_id'][ind] not in myDFs:
            myDFs[df01['bike_id'][ind]] = pd.DataFrame(
                columns=['bike_id', 'start_time', 'end_time', 'start_lat', 'start_lng', 'end_lat', 'end_lng'])
    return myDFs

In [372]:
def addRentalsToDf(df01,myDFs):
    from tqdm import tqdm
    # Add all rentals to their bike_id DF
    for ind in tqdm(df01.index):
        if df01['bike_id'][ind] in myDFs:
            myDFs[df01['bike_id'][ind]].loc[df01.index[ind]] = df01.iloc[ind]
    return myDFs

In [373]:
def sortDFs(myDFs):
    # sort every DF
    for df in myDFs.values():
        df[['bike_id', 'start_time','end_time']] = df[['bike_id', 'start_time','end_time']].astype(int)
        df[['start_lat','start_lng', 'end_lat', 'end_lng']] = df[['start_lat','start_lng', 'end_lat', 'end_lng']].astype(float)
        df.sort_values(by=['start_time'], inplace=True)
        df.reset_index(drop=True, inplace=True)
    return myDFs

In [374]:
def dfPoints(myDFs,radius):
    # DF of all points with stoodtime
    inval = 0
    val = 0 
    
    df_points = pd.DataFrame(columns=['bike_id', 'lat', 'lng', 'idle_time', 'time_start', 'time_end'])
    df_points[['bike_id', 'idle_time', 'time_start', 'time_end']] = df_points[['bike_id', 'idle_time', 'time_start', 'time_end']].astype(int)
    df_points[['lng', 'lat']] = df_points[['lng', 'lat']].astype(float)
    
    for df in tqdm(myDFs.values()):
        for ind in df.index[1:]:
            #in SECOUNDS
            _idle_time = (df['start_time'][ind] - df['end_time'][ind - 1]).astype(int)
            distance = qick_distance(df['end_lat'][ind-1], df['end_lng'][ind-1], df['start_lat'][ind], df['start_lng'][ind])
            if distance > radius:
                inval +=1
                continue
            val +=1
            dict = {'bike_id': df['bike_id'][ind], 'lng': df['start_lng'][ind], 'lat': df['start_lat'][ind],
                    'idle_time': _idle_time, 'time_start': df['end_time'][ind - 1], 'time_end': df['start_time'][ind]}
            df_points = df_points.append(dict, ignore_index=True)
    print(f"invalides: {inval} from {val} that is {inval/val * 100} %")
    return df_points

In [375]:
# returns distance in meter
# source: https://www.it-swarm.com.de/de/python/wie-kann-ich-die-entfernung-zwischen-zwei-punkten-breitengrad-laengengrad-schnell-schaetzen/1072488907/
def qick_distance(Lat1, Long1, Lat2, Long2):
    x = Lat2 - Lat1
    y = (Long2 - Long1)*cos((Lat2 + Lat1)*0.00872664626)  
    return 111.138*sqrt(x*x+y*y)*1000

In [376]:
def keplerMap(df_points):
    heatmap = KeplerGl()
    heatmap.add_data(data=df_points, name='points')
    heatmap.save_to_html(file_name='heatmap_test.html')

# Main 
## Create map

In [377]:
from keplergl import KeplerGl
import pandas as pd
pd.options.mode.chained_assignment = None
import time

ts1 = time.time()
source = '../data/raw_lendings/lendings_2018.csv'

df = importdata(source)
myDfs = dicOutOfDf(df)
myDfs = addRentalsToDf(df, myDfs)
myDfs = sortDFs(myDfs)

100%|██████████| 182199/182199 [00:03<00:00, 54009.15it/s]
100%|██████████| 182199/182199 [04:50<00:00, 627.04it/s]

In [378]:
df.tail()

,bike_id,start_time,end_time,start_lat,start_lng,end_lat,end_lng
182194,71992,1546208583,1546209004,51.326871,12.374732,51.310257,12.373241
182195,71959,1546208955,1546209970,51.318458,12.377889,51.324615,12.336922
182196,41664,1546209503,1546210152,51.339337,12.379609,51.323619,12.335887
182197,72307,1546210213,1546210548,51.332060,12.371469,51.331342,12.358439
182198,72271,1546210428,1546210616,51.325764,12.344957,51.319218,12.344979

# Create DF_points
## without invalid points

In [379]:
from math import cos, sqrt
import pandas as pd
pd.options.mode.chained_assignment = None

radius = 20
df_points = dfPoints(myDfs,radius)

100%|██████████| 1300/1300 [05:50<00:00,  3.70it/s]

invalides: 41733 from 139166 that is 29.98792808588305 %

In [380]:
df_points.tail()

        bike_id        lat        lng  idle_time    time_start      time_end
139161  75861.0  51.338658  12.403918    11748.0  1.545331e+09  1.545343e+09
139162  75861.0  51.346151  12.396602    31244.0  1.545343e+09  1.545374e+09
139163  75861.0  51.340920  12.371810   138107.0  1.545375e+09  1.545513e+09
139164  75861.0  51.321733  12.342554   418348.0  1.545514e+09  1.545932e+09
139165  75861.0   0.000000   0.000000    87510.0  1.545934e+09  1.546021e+09

# Split Points at midnight

## save feature idle_time_next_day

In [381]:
df_points['idle_time'] = pd.to_timedelta(df_points['idle_time'],unit='s')
df_points['time_start'] = pd.to_datetime(df_points['time_start'],unit='s')
df_points['time_end'] = pd.to_datetime(df_points['time_end'],unit='s')

In [382]:
from tqdm import tqdm
from datetime import timedelta
import numpy as np

changed = 1
iterations = 0

df_points['idle_time_next_day'] = np.nan
df_points['over_night'] = 0

while changed:
    iterations += 1
    changed = 0
    for ind in tqdm(df_points.index):
        ts = df_points['time_start'][ind]
        te = df_points['time_end'][ind]
        t0 = ts.replace(hour=23, minute=59, second=59)
        
        # is timestood greater than same date 23:59:59
        #   -> over midnight
        if ts + df_points['idle_time'][ind] > t0:
            changed = 1
            
            underhang = t0 - ts
            overhang = te - t0
            
            # fix current day
            df_points['time_end'][ind] = ts.replace(hour=23, minute=59, second=59)
            df_points['idle_time'][ind] = underhang
            df_points['over_night'][ind] = 1
            df_points['idle_time_next_day'][ind] = overhang
            
            # add new row for the next day
            time_start = ts.replace(hour=0, minute=0, second=0)
            time_start += timedelta(days=1)
            flag = 0
            #if time_start + overhang > time_start.replace(hour=23, minute=59, second=59):
            #    flag = 1
            
            dict = {'bike_id': df_points['bike_id'][ind], 'lng': df_points['lng'][ind], 'lat': df_points['lat'][ind],
                    'idle_time': overhang, 'time_start': time_start, 'time_end': te,'over_night': flag, 'idle_time_next_day': np.nan}
            df_points = df_points.append(dict, ignore_index=True)

print(iterations)

100%|██████████| 139166/139166 [13:17<00:00, 174.57it/s]
100%|██████████| 184764/184764 [04:07<00:00, 746.77it/s]
100%|██████████| 196834/196834 [02:11<00:00, 1492.91it/s]
100%|██████████| 202909/202909 [01:26<00:00, 2332.83it/s]
100%|██████████| 206482/206482 [00:57<00:00, 3618.06it/s]
100%|██████████| 208752/208752 [00:43<00:00, 4810.69it/s]
100%|██████████| 210277/210277 [00:34<00:00, 6174.80it/s]
100%|██████████| 211330/211330 [00:25<00:00, 8195.90it/s]
100%|██████████| 212103/212103 [00:22<00:00, 9318.20it/s]
100%|██████████| 212698/212698 [00:19<00:00, 10868.34it/s]
100%|██████████| 213160/213160 [00:17<00:00, 11888.67it/s]
100%|██████████| 213515/213515 [00:15<00:00, 13524.59it/s]
100%|██████████| 213792/213792 [00:14<00:00, 14385.21it/s]
100%|██████████| 214011/214011 [00:13<00:00, 15622.21it/s]
100%|██████████| 214192/214192 [00:14<00:00, 14330.35it/s]
100%|██████████| 214343/214343 [00:12<00:00, 16614.43it/s]
100%|██████████| 214475/214475 [00:13<00:00, 15405.08it/s]
100%|██████████| 214585/214585 [00:12<00:00, 17808.19it/s]
100%|██████████| 214686/214686 [00:12<00:00, 17862.37it/s]
100%|██████████| 214773/214773 [00:12<00:00, 16713.66it/s]
100%|██████████| 214849/214849 [00:10<00:00, 19663.50it/s]
100%|██████████| 214907/214907 [00:11<00:00, 17954.07it/s]
100%|██████████| 214959/214959 [00:11<00:00, 19309.76it/s]
100%|██████████| 215005/215005 [00:10<00:00, 20213.86it/s]
100%|██████████| 215044/215044 [00:10<00:00, 20788.99it/s]
100%|██████████| 215079/215079 [00:10<00:00, 20041.99it/s]
100%|██████████| 215112/215112 [00:12<00:00, 17811.51it/s]
100%|██████████| 215141/215141 [00:10<00:00, 20730.14it/s]
100%|██████████| 215165/215165 [00:10<00:00, 21251.84it/s]
100%|██████████| 215187/215187 [00:10<00:00, 20184.41it/s]
100%|██████████| 215206/215206 [00:10<00:00, 19766.97it/s]
100%|██████████| 215223/215223 [00:11<00:00, 18696.43it/s]
100%|██████████| 215238/215238 [00:10<00:00, 20602.20it/s]
100%|██████████| 215251/215251 [00:10<00:00, 19972.80it/s]
100%|██████████| 215262/215262 [00:09<00:00, 21741.65it/s]
100%|██████████| 215272/215272 [00:09<00:00, 21765.48it/s]
100%|██████████| 215282/215282 [00:11<00:00, 19290.82it/s]
100%|██████████| 215290/215290 [00:10<00:00, 20196.97it/s]
100%|██████████| 215298/215298 [00:10<00:00, 21456.94it/s]
100%|██████████| 215306/215306 [00:09<00:00, 21908.52it/s]
100%|██████████| 215311/215311 [00:10<00:00, 21257.64it/s]
100%|██████████| 215316/215316 [00:10<00:00, 20170.62it/s]
100%|██████████| 215321/215321 [00:09<00:00, 21961.99it/s]
100%|██████████| 215326/215326 [00:09<00:00, 21672.61it/s]
100%|██████████| 215331/215331 [00:10<00:00, 20221.55it/s]
100%|██████████| 215336/215336 [00:09<00:00, 22131.78it/s]
100%|██████████| 215341/215341 [00:10<00:00, 20734.47it/s]
100%|██████████| 215345/215345 [00:10<00:00, 19899.56it/s]
100%|██████████| 215349/215349 [00:11<00:00, 19038.80it/s]
100%|██████████| 215353/215353 [00:09<00:00, 21573.10it/s]
100%|██████████| 215357/215357 [00:11<00:00, 19124.61it/s]
100%|██████████| 215361/215361 [00:10<00:00, 21018.99it/s]
100%|██████████| 215365/215365 [00:10<00:00, 21367.70it/s]
100%|██████████| 215369/215369 [00:11<00:00, 19376.13it/s]
100%|██████████| 215373/215373 [00:10<00:00, 20730.52it/s]
100%|██████████| 215377/215377 [00:10<00:00, 21326.01it/s]
100%|██████████| 215381/215381 [00:10<00:00, 20167.95it/s]
100%|██████████| 215385/215385 [00:09<00:00, 22055.46it/s]
100%|██████████| 215389/215389 [00:09<00:00, 21725.69it/s]
100%|██████████| 215393/215393 [00:10<00:00, 19665.91it/s]
100%|██████████| 215396/215396 [00:10<00:00, 20746.29it/s]
100%|██████████| 215399/215399 [00:09<00:00, 21705.94it/s]
100%|██████████| 215402/215402 [00:13<00:00, 16117.34it/s]
100%|██████████| 215404/215404 [00:12<00:00, 17597.62it/s]
100%|██████████| 215406/215406 [00:10<00:00, 20873.76it/s]
100%|██████████| 215408/215408 [00:10<00:00, 21487.11it/s]
100%|██████████| 215410/215410 [00:09<00:00, 21880.40it/s]
100%|██████████| 215412/215412 [00:10<00:00, 20593.28it/s]
100%|██████████| 215414/215414 [00:10<00:00, 20248.33it/s]
100%|██████████| 215416/215416 [00:10<00:00, 21376.63it/s]
100%|██████████| 215418/215418 [00:10<00:00, 20368.54it/s]
100%|██████████| 215420/215420 [00:10<00:00, 21519.44it/s]
100%|██████████| 215422/215422 [00:09<00:00, 21937.65it/s]
100%|██████████| 215424/215424 [00:10<00:00, 21252.22it/s]
100%|██████████| 215426/215426 [00:10<00:00, 20294.04it/s]
100%|██████████| 215428/215428 [00:09<00:00, 21649.97it/s]
100%|██████████| 215430/215430 [00:09<00:00, 21780.79it/s]
100%|██████████| 215432/215432 [00:10<00:00, 19890.46it/s]
100%|██████████| 215434/215434 [00:11<00:00, 19544.23it/s]
100%|██████████| 215436/215436 [00:10<00:00, 21533.82it/s]
100%|██████████| 215438/215438 [00:11<00:00, 19300.84it/s]
100%|██████████| 215440/215440 [00:10<00:00, 21334.41it/s]
100%|██████████| 215442/215442 [00:10<00:00, 21318.07it/s]
100%|██████████| 215444/215444 [00:11<00:00, 18843.59it/s]
100%|██████████| 215446/215446 [00:10<00:00, 21127.22it/s]
100%|██████████| 215448/215448 [00:10<00:00, 21334.53it/s]
100%|██████████| 215450/215450 [00:10<00:00, 20221.14it/s]
100%|██████████| 215452/215452 [00:09<00:00, 21981.46it/s]
100%|██████████| 215454/215454 [00:09<00:00, 21683.40it/s]
100%|██████████| 215456/215456 [00:11<00:00, 18786.11it/s]
100%|██████████| 215458/215458 [00:09<00:00, 21562.64it/s]
100%|██████████| 215460/215460 [00:10<00:00, 20678.33it/s]
100%|██████████| 215462/215462 [00:11<00:00, 18315.28it/s]
100%|██████████| 215464/215464 [00:10<00:00, 19884.13it/s]
100%|██████████| 215466/215466 [00:10<00:00, 21019.44it/s]
100%|██████████| 215468/215468 [00:10<00:00, 20740.65it/s]
100%|██████████| 215470/215470 [00:09<00:00, 21938.44it/s]
100%|██████████| 215472/215472 [00:10<00:00, 21064.96it/s]
100%|██████████| 215474/215474 [00:11<00:00, 19535.46it/s]
100%|██████████| 215475/215475 [00:10<00:00, 21502.41it/s]
100%|██████████| 215476/215476 [00:10<00:00, 21282.83it/s]
100%|██████████| 215477/215477 [00:10<00:00, 20796.70it/s]
100%|██████████| 215478/215478 [00:09<00:00, 22053.25it/s]
100%|██████████| 215479/215479 [00:10<00:00, 21412.10it/s]
100%|██████████| 215480/215480 [00:10<00:00, 20401.80it/s]
100%|██████████| 215481/215481 [00:09<00:00, 22106.92it/s]
100%|██████████| 215482/215482 [00:10<00:00, 20485.56it/s]
100%|██████████| 215483/215483 [00:11<00:00, 19029.99it/s]
100%|██████████| 215484/215484 [00:10<00:00, 19652.72it/s]
100%|██████████| 215485/215485 [00:10<00:00, 21357.53it/s]
100%|██████████| 215486/215486 [00:11<00:00, 19136.48it/s]
100%|██████████| 215487/215487 [00:09<00:00, 22174.98it/s]
100%|██████████| 215488/215488 [00:10<00:00, 21193.15it/s]
100%|██████████| 215489/215489 [00:11<00:00, 19282.70it/s]
100%|██████████| 215490/215490 [00:10<00:00, 21480.19it/s]
100%|██████████| 215491/215491 [00:10<00:00, 21527.53it/s]
100%|██████████| 215492/215492 [00:10<00:00, 20412.21it/s]
100%|██████████| 215493/215493 [00:09<00:00, 22077.42it/s]

118

In [383]:
df_points.dtypes

bike_id                       float64
lat                           float64
lng                           float64
idle_time             timedelta64[ns]
time_start             datetime64[ns]
time_end               datetime64[ns]
idle_time_next_day             object
over_night                      int64
dtype: object

idle time in min

In [384]:
def idle_time_to_min(row):
    return row['idle_time'].seconds / 60

df_points['idle_time'] = df_points.apply(idle_time_to_min, axis=1)

add idle_time_next_day feature

In [385]:
df_points['idle_time_next_day'] = pd.to_timedelta(df_points['idle_time_next_day'])

def idle_time_next_day_to_min(row):
    if row['over_night'] == 1:
        t = row['idle_time_next_day'].total_seconds() / 60
        if t < 1439:
            return t
        else: return 1439
    else:
        return 0

df_points['idle_time_next_day'] = df_points.apply(idle_time_next_day_to_min, axis=1)

In [386]:
df_points

,bike_id,lat,lng,idle_time,time_start,time_end,idle_time_next_day,over_night
0,3694.0,51.323619,12.335887,12.833333,2017-12-31 23:47:09,2017-12-31 23:59:59,821.733333,1
1,3694.0,51.343813,12.381495,608.883333,2018-01-01 13:51:06,2018-01-01 23:59:59,877.033333,1
2,3694.0,51.343076,12.365177,35.850000,2018-01-02 14:55:53,2018-01-02 15:31:44,0.000000,0
3,3694.0,51.332874,12.373261,66.233333,2018-01-02 22:53:45,2018-01-02 23:59:59,999.333333,1
4,3694.0,51.297564,12.293015,424.933333,2018-01-03 16:55:03,2018-01-03 23:59:59,1439.000000,1
...,...,...,...,...,...,...,...,...
215488,64012.0,51.324559,12.338043,1439.983333,2018-08-30 00:00:00,2018-08-30 23:59:59,1439.000000,1
215489,64012.0,51.324559,12.338043,1439.983333,2018-08-31 00:00:00,2018-08-31 23:59:59,1439.000000,1
215490,64012.0,51.324559,12.338043,1439.983333,2018-09-01 00:00:00,2018-09-01 23:59:59,1439.000000,1
215491,64012.0,51.324559,12.338043,1439.983333,2018-09-02 00:00:00,2018-09-02 23:59:59,493.750000,1
215492,64012.0,51.324559,12.338043,493.750000,2018-09-03 00:00:00,2018-09-03 08:13:44,0.000000,0

change type to int

In [387]:
df_points['idle_time'] = df_points['idle_time'].astype(int)
df_points['idle_time_next_day'] = df_points['idle_time_next_day'].astype(int)
df_points

,bike_id,lat,lng,idle_time,time_start,time_end,idle_time_next_day,over_night
0,3694.0,51.323619,12.335887,12,2017-12-31 23:47:09,2017-12-31 23:59:59,821,1
1,3694.0,51.343813,12.381495,608,2018-01-01 13:51:06,2018-01-01 23:59:59,877,1
2,3694.0,51.343076,12.365177,35,2018-01-02 14:55:53,2018-01-02 15:31:44,0,0
3,3694.0,51.332874,12.373261,66,2018-01-02 22:53:45,2018-01-02 23:59:59,999,1
4,3694.0,51.297564,12.293015,424,2018-01-03 16:55:03,2018-01-03 23:59:59,1439,1
...,...,...,...,...,...,...,...,...
215488,64012.0,51.324559,12.338043,1439,2018-08-30 00:00:00,2018-08-30 23:59:59,1439,1
215489,64012.0,51.324559,12.338043,1439,2018-08-31 00:00:00,2018-08-31 23:59:59,1439,1
215490,64012.0,51.324559,12.338043,1439,2018-09-01 00:00:00,2018-09-01 23:59:59,1439,1
215491,64012.0,51.324559,12.338043,1439,2018-09-02 00:00:00,2018-09-02 23:59:59,493,1
215492,64012.0,51.324559,12.338043,493,2018-09-03 00:00:00,2018-09-03 08:13:44,0,0

# Save V2 df_points split

In [388]:
df_points['idle_time'].max()

1439

In [389]:
df_points.head()

,bike_id,lat,lng,idle_time,time_start,time_end,idle_time_next_day,over_night
0,3694.0,51.323619,12.335887,12,2017-12-31 23:47:09,2017-12-31 23:59:59,821,1
1,3694.0,51.343813,12.381495,608,2018-01-01 13:51:06,2018-01-01 23:59:59,877,1
2,3694.0,51.343076,12.365177,35,2018-01-02 14:55:53,2018-01-02 15:31:44,0,0
3,3694.0,51.332874,12.373261,66,2018-01-02 22:53:45,2018-01-02 23:59:59,999,1
4,3694.0,51.297564,12.293015,424,2018-01-03 16:55:03,2018-01-03 23:59:59,1439,1

## Add H3 Index

In [390]:
import h3

df_points['hex_id'] = 0

for ind in tqdm(df_points.index):
    df_points['hex_id'][ind] = h3.geo_to_h3(df_points['lat'][ind], df_points['lng'][ind], 8)
df_points.head()

100%|██████████| 215493/215493 [00:05<00:00, 42968.98it/s]

,bike_id,lat,lng,idle_time,time_start,time_end,idle_time_next_day,over_night,hex_id
0,3694.0,51.323619,12.335887,12,2017-12-31 23:47:09,2017-12-31 23:59:59,821,1,881f1a8d91fffff
1,3694.0,51.343813,12.381495,608,2018-01-01 13:51:06,2018-01-01 23:59:59,877,1,881f1a8cb1fffff
2,3694.0,51.343076,12.365177,35,2018-01-02 14:55:53,2018-01-02 15:31:44,0,0,881f1a8cbdfffff
3,3694.0,51.332874,12.373261,66,2018-01-02 22:53:45,2018-01-02 23:59:59,999,1,881f1a164bfffff
4,3694.0,51.297564,12.293015,424,2018-01-03 16:55:03,2018-01-03 23:59:59,1439,1,881f1a8da3fffff

# Add weather Data

In [391]:
dfw = pd.read_csv('../data/weather_data.csv')
dfw['datetime'] = pd.to_datetime(dfw['dt'], unit='s')
dfw = dfw.set_index(['datetime'])
dfw.head()

df_points['temp'] = np.nan
df_points['rain'] = np.nan
df_points['snow'] = np.nan

from tqdm import tqdm
pd.options.mode.chained_assignment = None

for ind in tqdm(df_points.index):
    wint = df_points['time_start'][ind].replace(minute=0,second=0)
    df_points['temp'][ind] = dfw['temp'][wint].copy()
    df_points['rain'][ind] = dfw['rain_1h'][wint].copy()
    df_points['snow'][ind] = dfw['snow_1h'][wint].copy()

df_points

100%|██████████| 215493/215493 [03:33<00:00, 1009.96it/s]

,bike_id,lat,lng,idle_time,time_start,time_end,idle_time_next_day,over_night,hex_id,temp,rain,snow
0,3694.0,51.323619,12.335887,12,2017-12-31 23:47:09,2017-12-31 23:59:59,821,1,881f1a8d91fffff,10.80,NaN,NaN
1,3694.0,51.343813,12.381495,608,2018-01-01 13:51:06,2018-01-01 23:59:59,877,1,881f1a8cb1fffff,8.52,NaN,NaN
2,3694.0,51.343076,12.365177,35,2018-01-02 14:55:53,2018-01-02 15:31:44,0,0,881f1a8cbdfffff,6.11,NaN,NaN
3,3694.0,51.332874,12.373261,66,2018-01-02 22:53:45,2018-01-02 23:59:59,999,1,881f1a164bfffff,2.96,NaN,NaN
4,3694.0,51.297564,12.293015,424,2018-01-03 16:55:03,2018-01-03 23:59:59,1439,1,881f1a8da3fffff,7.11,0.14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
215488,64012.0,51.324559,12.338043,1439,2018-08-30 00:00:00,2018-08-30 23:59:59,1439,1,881f1a8d93fffff,21.11,NaN,NaN
215489,64012.0,51.324559,12.338043,1439,2018-08-31 00:00:00,2018-08-31 23:59:59,1439,1,881f1a8d93fffff,14.11,NaN,NaN
215490,64012.0,51.324559,12.338043,1439,2018-09-01 00:00:00,2018-09-01 23:59:59,1439,1,881f1a8d93fffff,12.11,NaN,NaN
215491,64012.0,51.324559,12.338043,1439,2018-09-02 00:00:00,2018-09-02 23:59:59,493,1,881f1a8d93fffff,16.11,NaN,NaN
215492,64012.0,51.324559,12.338043,493,2018-09-03 00:00:00,2018-09-03 08:13:44,0,0,881f1a8d93fffff,16.11,0.40,NaN

add unix timestamps

In [392]:
df_points['dt_start'] = pd.to_datetime(df_points['time_start']).map(pd.Timestamp.timestamp).astype(int)
df_points['dt_end'] = pd.to_datetime(df_points['time_end']).map(pd.Timestamp.timestamp).astype(int)
df_points['bike_id'] = df_points['bike_id'].astype(int)

# Add start time Feature

In [393]:
def add_start_min_feature(row):
    return ((row['dt_start'] % 86400) / 60).__round__(0)

df_points['start_min'] = df_points.apply(add_start_min_feature,axis=1)
df_points['start_min'] = df_points['start_min'].astype(int)

In [394]:
df_points

,bike_id,lat,lng,idle_time,time_start,time_end,idle_time_next_day,over_night,hex_id,temp,rain,snow,dt_start,dt_end,start_min
0,3694,51.323619,12.335887,12,2017-12-31 23:47:09,2017-12-31 23:59:59,821,1,881f1a8d91fffff,10.80,NaN,NaN,1514764029,1514764799,1427
1,3694,51.343813,12.381495,608,2018-01-01 13:51:06,2018-01-01 23:59:59,877,1,881f1a8cb1fffff,8.52,NaN,NaN,1514814666,1514851199,831
2,3694,51.343076,12.365177,35,2018-01-02 14:55:53,2018-01-02 15:31:44,0,0,881f1a8cbdfffff,6.11,NaN,NaN,1514904953,1514907104,896
3,3694,51.332874,12.373261,66,2018-01-02 22:53:45,2018-01-02 23:59:59,999,1,881f1a164bfffff,2.96,NaN,NaN,1514933625,1514937599,1374
4,3694,51.297564,12.293015,424,2018-01-03 16:55:03,2018-01-03 23:59:59,1439,1,881f1a8da3fffff,7.11,0.14,NaN,1514998503,1515023999,1015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215488,64012,51.324559,12.338043,1439,2018-08-30 00:00:00,2018-08-30 23:59:59,1439,1,881f1a8d93fffff,21.11,NaN,NaN,1535587200,1535673599,0
215489,64012,51.324559,12.338043,1439,2018-08-31 00:00:00,2018-08-31 23:59:59,1439,1,881f1a8d93fffff,14.11,NaN,NaN,1535673600,1535759999,0
215490,64012,51.324559,12.338043,1439,2018-09-01 00:00:00,2018-09-01 23:59:59,1439,1,881f1a8d93fffff,12.11,NaN,NaN,1535760000,1535846399,0
215491,64012,51.324559,12.338043,1439,2018-09-02 00:00:00,2018-09-02 23:59:59,493,1,881f1a8d93fffff,16.11,NaN,NaN,1535846400,1535932799,0
215492,64012,51.324559,12.338043,493,2018-09-03 00:00:00,2018-09-03 08:13:44,0,0,881f1a8d93fffff,16.11,0.40,NaN,1535932800,1535962424,0

# Add day Feature

In [395]:
df_points.dtypes

bike_id                        int64
lat                          float64
lng                          float64
idle_time                      int64
time_start            datetime64[ns]
time_end              datetime64[ns]
idle_time_next_day             int64
over_night                     int64
hex_id                        object
temp                         float64
rain                         float64
snow                         float64
dt_start                       int64
dt_end                         int64
start_min                      int64
dtype: object

In [396]:
def add_day_feature(row):
    return row['time_start'].dayofweek

df_points['day'] = df_points.apply(add_day_feature,axis=1)

In [397]:
df_points

,bike_id,lat,lng,idle_time,time_start,time_end,idle_time_next_day,over_night,hex_id,temp,rain,snow,dt_start,dt_end,start_min,day
0,3694,51.323619,12.335887,12,2017-12-31 23:47:09,2017-12-31 23:59:59,821,1,881f1a8d91fffff,10.80,NaN,NaN,1514764029,1514764799,1427,6
1,3694,51.343813,12.381495,608,2018-01-01 13:51:06,2018-01-01 23:59:59,877,1,881f1a8cb1fffff,8.52,NaN,NaN,1514814666,1514851199,831,0
2,3694,51.343076,12.365177,35,2018-01-02 14:55:53,2018-01-02 15:31:44,0,0,881f1a8cbdfffff,6.11,NaN,NaN,1514904953,1514907104,896,1
3,3694,51.332874,12.373261,66,2018-01-02 22:53:45,2018-01-02 23:59:59,999,1,881f1a164bfffff,2.96,NaN,NaN,1514933625,1514937599,1374,1
4,3694,51.297564,12.293015,424,2018-01-03 16:55:03,2018-01-03 23:59:59,1439,1,881f1a8da3fffff,7.11,0.14,NaN,1514998503,1515023999,1015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215488,64012,51.324559,12.338043,1439,2018-08-30 00:00:00,2018-08-30 23:59:59,1439,1,881f1a8d93fffff,21.11,NaN,NaN,1535587200,1535673599,0,3
215489,64012,51.324559,12.338043,1439,2018-08-31 00:00:00,2018-08-31 23:59:59,1439,1,881f1a8d93fffff,14.11,NaN,NaN,1535673600,1535759999,0,4
215490,64012,51.324559,12.338043,1439,2018-09-01 00:00:00,2018-09-01 23:59:59,1439,1,881f1a8d93fffff,12.11,NaN,NaN,1535760000,1535846399,0,5
215491,64012,51.324559,12.338043,1439,2018-09-02 00:00:00,2018-09-02 23:59:59,493,1,881f1a8d93fffff,16.11,NaN,NaN,1535846400,1535932799,0,6
215492,64012,51.324559,12.338043,493,2018-09-03 00:00:00,2018-09-03 08:13:44,0,0,881f1a8d93fffff,16.11,0.40,NaN,1535932800,1535962424,0,0

# Add month feature

In [398]:
def add_month_feature(row):
    return row['time_start'].strftime("%m")

df_points['month'] = df_points.apply(add_month_feature,axis=1)

In [399]:
#del df_points['time_start']
#del df_points['time_end']

Encode Hex_id

In [400]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
df_points['hex_enc']= label_encoder.fit_transform(df_points['hex_id'])

Sort DF

In [401]:
df_points = df_points.reindex(columns=['bike_id', 'lat', 'lng', 'dt_start', 'dt_end', 'hex_id', 'hex_enc', 'temp', 'rain', 'snow', 'month', 'day', 'start_min', 'over_night', 'idle_time_next_day', 'idle_time'])
df_points['rain'] = df_points['rain'].fillna(0)
df_points['snow'] = df_points['snow'].fillna(0)

df_points.sort_values(by=['dt_start'])

,bike_id,lat,lng,dt_start,dt_end,hex_id,hex_enc,temp,rain,snow,month,day,start_min,over_night,idle_time_next_day,idle_time
0,3694,51.323619,12.335887,1514764029,1514764799,881f1a8d91fffff,195,10.80,0.0,0.0,12,6,1427,1,821,12
71,2508,51.323619,12.335887,1514764035,1514764799,881f1a8d91fffff,195,10.80,0.0,0.0,12,6,1427,1,1439,12
163,41851,51.332415,12.395158,1514764638,1514764799,881f1a1659fffff,81,10.80,0.0,0.0,12,6,1437,1,1439,2
139208,2508,51.323619,12.335887,1514764800,1514851199,881f1a8d91fffff,195,10.86,0.0,0.0,01,0,0,1,878,1439
139166,3694,51.323619,12.335887,1514764800,1514814103,881f1a8d91fffff,195,10.86,0.0,0.0,01,0,0,0,0,821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68370,41663,51.324645,12.311425,1546201232,1546204706,881f1a8d9dfffff,201,6.93,0.0,0.0,12,6,1221,0,0,57
133049,73851,51.343613,12.365640,1546202537,1546208319,881f1a8cbdfffff,170,6.93,0.0,0.0,12,6,1242,0,0,96
95332,72152,51.351505,12.407074,1546204570,1546205630,881f1ab96dfffff,268,6.36,0.0,0.0,12,6,1276,0,0,17
120442,72048,51.322000,12.373316,1546207062,1546207748,881f1a1643fffff,71,6.36,0.0,0.0,12,6,1318,0,0,11
99938,72271,51.325764,12.344957,1546207989,1546210428,881f1a8d93fffff,196,5.89,0.0,0.0,12,6,1333,0,0,40

In [402]:
df_points

,bike_id,lat,lng,dt_start,dt_end,hex_id,hex_enc,temp,rain,snow,month,day,start_min,over_night,idle_time_next_day,idle_time
0,3694,51.323619,12.335887,1514764029,1514764799,881f1a8d91fffff,195,10.80,0.00,0.0,12,6,1427,1,821,12
1,3694,51.343813,12.381495,1514814666,1514851199,881f1a8cb1fffff,164,8.52,0.00,0.0,01,0,831,1,877,608
2,3694,51.343076,12.365177,1514904953,1514907104,881f1a8cbdfffff,170,6.11,0.00,0.0,01,1,896,0,0,35
3,3694,51.332874,12.373261,1514933625,1514937599,881f1a164bfffff,75,2.96,0.00,0.0,01,1,1374,1,999,66
4,3694,51.297564,12.293015,1514998503,1515023999,881f1a8da3fffff,202,7.11,0.14,0.0,01,2,1015,1,1439,424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215488,64012,51.324559,12.338043,1535587200,1535673599,881f1a8d93fffff,196,21.11,0.00,0.0,08,3,0,1,1439,1439
215489,64012,51.324559,12.338043,1535673600,1535759999,881f1a8d93fffff,196,14.11,0.00,0.0,08,4,0,1,1439,1439
215490,64012,51.324559,12.338043,1535760000,1535846399,881f1a8d93fffff,196,12.11,0.00,0.0,09,5,0,1,1439,1439
215491,64012,51.324559,12.338043,1535846400,1535932799,881f1a8d93fffff,196,16.11,0.00,0.0,09,6,0,1,493,1439
215492,64012,51.324559,12.338043,1535932800,1535962424,881f1a8d93fffff,196,16.11,0.40,0.0,09,0,0,0,0,493

In [403]:
dur = time.time() - ts1
print(dur)

3527.729553937912

In [404]:
ty_res = time.gmtime(dur)
res = time.strftime("%H:%M:%S",ty_res)
print(res)

00:58:47

# Save

In [405]:
df_points.to_csv('../data/df_points/df_points_2018.csv', index=False)

In [320]:
df_points

,bike_id,lat,lng,dt_start,dt_end,hex_id,hex_enc,temp,rain,snow,month,day,start_min,over_night,idle_time_next_day,idle_time
0,93513,51.317649,12.373610,1577833774,1577836799,881f1a1647fffff,79,2.13,0.0,0.0,12,1,1390,1,1439,50
1,93513,51.338133,12.385462,1577924396,1577961083,881f1a8cb7fffff,197,-1.11,0.0,0.0,01,3,20,0,0,611
2,93513,51.344889,12.373907,1577961466,1577968319,881f1a8cb1fffff,194,2.87,0.0,0.0,01,3,638,0,0,114
3,93513,51.343658,12.378786,1577968433,1577978806,881f1a8cb1fffff,194,6.54,0.0,0.0,01,3,754,0,0,172
4,93513,51.323373,12.335402,1577979896,1577990703,881f1a8d91fffff,229,4.29,0.0,0.0,01,3,945,0,0,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883287,93544,51.321160,12.269497,1595289600,1595375999,881f1a8debfffff,264,15.89,0.0,0.0,07,1,0,1,1439,1439
883288,93544,51.321160,12.269497,1595376000,1595462399,881f1a8debfffff,264,13.39,0.0,0.0,07,2,0,1,1439,1439
883289,93544,51.321160,12.269497,1595462400,1595548799,881f1a8debfffff,264,15.08,0.0,0.0,07,3,0,1,1439,1439
883290,93544,51.321160,12.269497,1595548800,1595635199,881f1a8debfffff,264,15.34,0.0,0.0,07,4,0,1,1361,1439
883291,93544,51.321160,12.269497,1595635200,1595716907,881f1a8debfffff,264,16.47,0.0,0.0,07,5,0,0,0,1361

In [4]:
import pandas as pd
df = pd.read_csv('../data/df_points/final_df_points_18_21.csv')
df = df.sort_values(by=['dt_start'])