# df_points with UNIX Timestamp #
## Creates df_points.csv with all points and idletimes #
## Checks the valid geo location
## deletes the invalid points: 
2019 - ca. 9.5%

2020 - ca. 2.7%

2021 - ca.

### ca 1h for 1 year

In [15]:
def importdata(source):
    df = pd.read_csv(source)
    df = df[['bike_id', 'start_time', 'end_time', 'start_lat', 'start_lng', 'end_lat', 'end_lng']]
    return df

In [16]:
def dicOutOfDf(df01):
    import pandas as pd
    from tqdm import tqdm
    # Dict out of DataFrames of Trips per Bike

    # init DFs for every bike
    myDFs = {}

    for ind in tqdm(df01.index):
        if df01['bike_id'][ind] not in myDFs:
            myDFs[df01['bike_id'][ind]] = pd.DataFrame(
                columns=['bike_id', 'start_time', 'end_time', 'start_lat', 'start_lng', 'end_lat', 'end_lng'])
    return myDFs

In [17]:
def addRentalsToDf(df01,myDFs):
    from tqdm import tqdm
    # Add all rentals to their bike_id DF
    for ind in tqdm(df01.index):
        if df01['bike_id'][ind] in myDFs:
            myDFs[df01['bike_id'][ind]].loc[df01.index[ind]] = df01.iloc[ind]
    return myDFs

In [18]:
def sortDFs(myDFs):
    # sort every DF
    for df in myDFs.values():
        df[['bike_id', 'start_time','end_time']] = df[['bike_id', 'start_time','end_time']].astype(int)
        df[['start_lat','start_lng', 'end_lat', 'end_lng']] = df[['start_lat','start_lng', 'end_lat', 'end_lng']].astype(float)
        df.sort_values(by=['start_time'], inplace=True)
        df.reset_index(drop=True, inplace=True)
    return myDFs

In [19]:
def dfPoints(myDFs,radius):
    # DF of all points with stoodtime
    inval = 0
    val = 0 
    
    df_points = pd.DataFrame(columns=['bike_id', 'lat', 'lng', 'timestood', 'time_start', 'time_end'])
    df_points[['bike_id', 'timestood', 'time_start', 'time_end']] = df_points[['bike_id', 'timestood', 'time_start', 'time_end']].astype(int)
    df_points[['lng', 'lat']] = df_points[['lng', 'lat']].astype(float)
    
    for df in tqdm(myDFs.values()):
        for ind in df.index[1:]:
            #in SECOUNDS
            timestood = (df['start_time'][ind] - df['end_time'][ind - 1]).astype(int)
            distance = qick_distance(df['end_lat'][ind-1], df['end_lng'][ind-1], df['start_lat'][ind], df['start_lng'][ind])
            if distance > radius:
                inval +=1
                continue
            val +=1
            dict = {'bike_id': df['bike_id'][ind], 'lng': df['start_lng'][ind], 'lat': df['start_lat'][ind],
                    'timestood': timestood, 'time_start': df['end_time'][ind - 1], 'time_end': df['start_time'][ind]}
            df_points = df_points.append(dict, ignore_index=True)
    print(f"invalides: {inval} from {val} thats {inval/val * 100} %")
    return df_points

In [20]:
# returns distance in meter
# source: https://www.it-swarm.com.de/de/python/wie-kann-ich-die-entfernung-zwischen-zwei-punkten-breitengrad-laengengrad-schnell-schaetzen/1072488907/
def qick_distance(Lat1, Long1, Lat2, Long2):
    x = Lat2 - Lat1
    y = (Long2 - Long1)*cos((Lat2 + Lat1)*0.00872664626)  
    return 111.138*sqrt(x*x+y*y)*1000

In [21]:
def keplerMap(df_points):
    heatmap = KeplerGl()
    heatmap.add_data(data=df_points, name='points')
    heatmap.save_to_html(file_name='heatmap_test.html')

# Main 
## Create map

In [24]:
from keplergl import KeplerGl
import pandas as pd
pd.options.mode.chained_assignment = None
from tqdm import tqdm
from geopy.distance import geodesic
import h3

source = '../data/raw_lendings/lendings_2021.csv'

df = importdata(source)
myDfs = dicOutOfDf(df)
myDfs = addRentalsToDf(df, myDfs)
myDfs = sortDFs(myDfs)

100%|██████████| 571894/571894 [00:04<00:00, 120450.57it/s]
100%|██████████| 571894/571894 [14:24<00:00, 661.76it/s]

## Save MyDfs Map to file

import pickle
with open('saved_myDfs_2019.pkl', 'wb') as f:
    pickle.dump(myDfs, f)

## Create DF_points 
### without invalid points
52523 from 550865

def importMyDFsDic():
    with open('../data/saved_myDfs.pkl', 'rb') as f:
        myDfs = pickle.load(f)
    return myDfs

### ggf Map from file importieren
import pickle
myDf_imported = importMyDFsDic()

In [25]:
# create DF_POints
from math import cos, sqrt
import pandas as pd
pd.options.mode.chained_assignment = None

radius = 20
df_points = dfPoints(myDfs,radius)

100%|██████████| 1203/1203 [39:35<00:00,  1.97s/it]

invalides: 21842 from 548849 thats 3.979600946708475 %

## Save df_points_valid_geov01.csv

df_points.to_csv("../data/df_points_2019_v1.csv",index=False)

# Split Points at midnight

## save flag feature & time_stood_next_day

In [26]:
df_points['timestood'] = pd.to_timedelta(df_points['timestood'],unit='s')
df_points['time_start'] = pd.to_datetime(df_points['time_start'],unit='s')
df_points['time_end'] = pd.to_datetime(df_points['time_end'],unit='s')

In [29]:
from tqdm import tqdm
from datetime import timedelta
import numpy as np

changed = 1
iterations = 0

df_points['next_day_idle_time'] = np.nan

while changed:
    iterations += 1
    changed = 0
    for ind in tqdm(df_points.index):
        ts = df_points['time_start'][ind]
        te = df_points['time_end'][ind]
        t0 = ts.replace(hour=23, minute=59, second=59)
        
        # is timestood greater than same date 23:59:59
        #   -> over midnight
        if ts + df_points['timestood'][ind] > t0:
            changed = 1
            
            underhang = t0 - ts
            overhang = te - t0
            
            # fix current day
            df_points['time_end'][ind] = ts.replace(hour=23, minute=59, second=59)
            df_points['timestood'][ind] = underhang
            df_points['next_day_idle_time'][ind] = overhang
            
            # add new row for the next day
            time_start = ts.replace(hour=0, minute=0, second=0)
            time_start += timedelta(days=1)
            flag = 0
            if time_start + overhang > time_start.replace(hour=23, minute=59, second=59):
                flag = 1
            
            dict = {'bike_id': df_points['bike_id'][ind], 'lng': df_points['lng'][ind], 'lat': df_points['lat'][ind],
                    'timestood': overhang, 'time_start': time_start, 'time_end': te, 'flag' : flag, 'next_day_idle_time': np.nan}
            df_points = df_points.append(dict, ignore_index=True)

print(iterations)

100%|██████████| 548849/548849 [1:42:20<00:00, 89.38it/s]
100%|██████████| 687103/687103 [22:30<00:00, 508.80it/s]
100%|██████████| 712509/712509 [10:29<00:00, 1132.15it/s]
100%|██████████| 723768/723768 [05:55<00:00, 2033.85it/s]
100%|██████████| 729880/729880 [03:51<00:00, 3157.37it/s]
100%|██████████| 733671/733671 [02:43<00:00, 4489.97it/s]
100%|██████████| 736184/736184 [02:03<00:00, 5981.91it/s]
100%|██████████| 737940/737940 [01:40<00:00, 7375.61it/s]
100%|██████████| 739229/739229 [01:25<00:00, 8635.13it/s]
100%|██████████| 740212/740212 [01:12<00:00, 10168.15it/s]
100%|██████████| 740973/740973 [01:05<00:00, 11391.56it/s]
100%|██████████| 741563/741563 [00:57<00:00, 12822.18it/s]
100%|██████████| 742029/742029 [00:52<00:00, 14188.88it/s]
100%|██████████| 742393/742393 [00:49<00:00, 15050.67it/s]
100%|██████████| 742698/742698 [00:45<00:00, 16371.02it/s]
100%|██████████| 742949/742949 [00:43<00:00, 16955.79it/s]
100%|██████████| 743151/743151 [00:41<00:00, 18002.86it/s]
100%|██████████| 743323/743323 [00:40<00:00, 18276.61it/s]
100%|██████████| 743466/743466 [00:41<00:00, 18117.67it/s]
100%|██████████| 743579/743579 [00:38<00:00, 19121.70it/s]
100%|██████████| 743677/743677 [00:36<00:00, 20131.22it/s]
100%|██████████| 743752/743752 [00:36<00:00, 20598.15it/s]
100%|██████████| 743816/743816 [00:35<00:00, 20839.28it/s]
100%|██████████| 743875/743875 [00:36<00:00, 20387.25it/s]
100%|██████████| 743925/743925 [00:34<00:00, 21276.74it/s]
100%|██████████| 743969/743969 [00:34<00:00, 21448.32it/s]
100%|██████████| 744007/744007 [00:34<00:00, 21273.63it/s]
100%|██████████| 744044/744044 [00:34<00:00, 21537.57it/s]
100%|██████████| 744080/744080 [00:34<00:00, 21672.28it/s]
100%|██████████| 744112/744112 [00:34<00:00, 21608.42it/s]
100%|██████████| 744144/744144 [00:34<00:00, 21748.07it/s]
100%|██████████| 744175/744175 [00:35<00:00, 20904.48it/s]
100%|██████████| 744206/744206 [00:34<00:00, 21837.58it/s]
100%|██████████| 744233/744233 [00:34<00:00, 21478.91it/s]
100%|██████████| 744260/744260 [00:35<00:00, 21133.42it/s]
100%|██████████| 744284/744284 [00:33<00:00, 22042.96it/s]
100%|██████████| 744306/744306 [00:33<00:00, 22123.67it/s]
100%|██████████| 744326/744326 [00:33<00:00, 22197.29it/s]
100%|██████████| 744345/744345 [00:33<00:00, 22199.80it/s]
100%|██████████| 744364/744364 [00:34<00:00, 21780.85it/s]
100%|██████████| 744381/744381 [00:33<00:00, 22123.71it/s]
100%|██████████| 744397/744397 [00:33<00:00, 22257.66it/s]
100%|██████████| 744413/744413 [00:33<00:00, 22356.92it/s]
100%|██████████| 744428/744428 [00:33<00:00, 22425.74it/s]
100%|██████████| 744443/744443 [00:33<00:00, 22188.01it/s]
100%|██████████| 744458/744458 [00:33<00:00, 22498.34it/s]
100%|██████████| 744472/744472 [00:33<00:00, 22530.30it/s]
100%|██████████| 744484/744484 [00:32<00:00, 22570.47it/s]
100%|██████████| 744495/744495 [00:32<00:00, 22695.15it/s]
100%|██████████| 744505/744505 [00:32<00:00, 22742.24it/s]
100%|██████████| 744513/744513 [00:32<00:00, 22743.11it/s]
100%|██████████| 744520/744520 [00:32<00:00, 22732.53it/s]
100%|██████████| 744527/744527 [00:32<00:00, 22740.98it/s]
100%|██████████| 744533/744533 [00:34<00:00, 21837.64it/s]
100%|██████████| 744539/744539 [00:35<00:00, 20985.86it/s]
100%|██████████| 744545/744545 [00:34<00:00, 21561.06it/s]
100%|██████████| 744551/744551 [00:34<00:00, 21857.51it/s]
100%|██████████| 744557/744557 [00:36<00:00, 20132.34it/s]
100%|██████████| 744562/744562 [00:34<00:00, 21634.76it/s]
100%|██████████| 744567/744567 [00:34<00:00, 21761.87it/s]
100%|██████████| 744572/744572 [00:34<00:00, 21710.65it/s]
100%|██████████| 744577/744577 [00:35<00:00, 21020.89it/s]
100%|██████████| 744581/744581 [00:34<00:00, 21734.13it/s]
100%|██████████| 744584/744584 [00:34<00:00, 21834.17it/s]
100%|██████████| 744587/744587 [00:33<00:00, 22007.82it/s]
100%|██████████| 744590/744590 [00:34<00:00, 21622.52it/s]
100%|██████████| 744593/744593 [00:34<00:00, 21776.49it/s]
100%|██████████| 744596/744596 [00:35<00:00, 21200.82it/s]
100%|██████████| 744598/744598 [00:34<00:00, 21782.08it/s]
100%|██████████| 744600/744600 [00:34<00:00, 21783.52it/s]
100%|██████████| 744602/744602 [00:34<00:00, 21677.78it/s]
100%|██████████| 744604/744604 [00:34<00:00, 21507.49it/s]
100%|██████████| 744606/744606 [00:34<00:00, 21780.66it/s]
100%|██████████| 744608/744608 [00:34<00:00, 21510.22it/s]
100%|██████████| 744610/744610 [00:34<00:00, 21470.45it/s]
100%|██████████| 744612/744612 [00:34<00:00, 21620.41it/s]
100%|██████████| 744614/744614 [00:34<00:00, 21637.47it/s]
100%|██████████| 744616/744616 [00:34<00:00, 21587.59it/s]
100%|██████████| 744618/744618 [00:34<00:00, 21667.11it/s]
100%|██████████| 744619/744619 [00:34<00:00, 21348.69it/s]
100%|██████████| 744620/744620 [00:34<00:00, 21614.36it/s]
100%|██████████| 744621/744621 [00:34<00:00, 21673.22it/s]
100%|██████████| 744622/744622 [00:34<00:00, 21608.17it/s]
100%|██████████| 744623/744623 [00:34<00:00, 21658.07it/s]
100%|██████████| 744624/744624 [00:34<00:00, 21428.11it/s]
100%|██████████| 744625/744625 [00:34<00:00, 21580.34it/s]
100%|██████████| 744626/744626 [00:34<00:00, 21627.62it/s]
100%|██████████| 744627/744627 [00:34<00:00, 21623.16it/s]
100%|██████████| 744628/744628 [00:34<00:00, 21503.14it/s]
100%|██████████| 744629/744629 [00:34<00:00, 21388.93it/s]
100%|██████████| 744630/744630 [00:34<00:00, 21548.72it/s]
100%|██████████| 744631/744631 [00:34<00:00, 21640.37it/s]
100%|██████████| 744632/744632 [00:34<00:00, 21602.16it/s]
100%|██████████| 744633/744633 [00:34<00:00, 21634.40it/s]
100%|██████████| 744634/744634 [00:34<00:00, 21771.27it/s]
100%|██████████| 744635/744635 [00:34<00:00, 21762.00it/s]
100%|██████████| 744636/744636 [00:35<00:00, 20710.94it/s]
100%|██████████| 744637/744637 [00:33<00:00, 22559.40it/s]
100%|██████████| 744638/744638 [00:32<00:00, 22797.29it/s]
100%|██████████| 744639/744639 [00:32<00:00, 22662.43it/s]
100%|██████████| 744640/744640 [00:32<00:00, 22774.40it/s]
100%|██████████| 744641/744641 [00:32<00:00, 22798.49it/s]
100%|██████████| 744642/744642 [00:32<00:00, 22806.57it/s]
100%|██████████| 744643/744643 [00:32<00:00, 22743.59it/s]
100%|██████████| 744644/744644 [00:32<00:00, 22854.08it/s]
100%|██████████| 744645/744645 [00:32<00:00, 22584.31it/s]
100%|██████████| 744646/744646 [00:32<00:00, 22824.15it/s]
100%|██████████| 744647/744647 [00:32<00:00, 22743.20it/s]
100%|██████████| 744648/744648 [00:44<00:00, 16879.05it/s]
100%|██████████| 744649/744649 [00:43<00:00, 17131.35it/s]
100%|██████████| 744650/744650 [00:44<00:00, 16551.03it/s]
100%|██████████| 744651/744651 [00:48<00:00, 15341.71it/s]
100%|██████████| 744652/744652 [00:35<00:00, 21141.19it/s]

113

In [40]:
df_points.head()

,bike_id,lat,lng,timestood,time_start,time_end,next_day_idle_time,flag,idle_time
0,75838.0,51.331022,12.316226,0 days 00:37:55,2020-12-31 23:22:04,2020-12-31 23:59:59,NaN,NaN,37.916667
1,75838.0,51.326178,12.334760,0 days 04:32:11,2021-01-04 19:27:48,2021-01-04 23:59:59,0 days 05:29:32,NaN,272.183333
2,75838.0,51.332178,12.343082,0 days 07:34:29,2021-01-05 05:34:11,2021-01-05 13:08:40,NaN,NaN,454.483333
3,75838.0,51.324615,12.336922,0 days 04:54:53,2021-01-05 13:13:36,2021-01-05 18:08:29,NaN,NaN,294.883333
4,75838.0,51.330267,12.336166,0 days 05:47:30,2021-01-05 18:12:29,2021-01-05 23:59:59,0 days 07:32:36,NaN,347.500000

In [41]:
from pandas import Timedelta
# timestood to idle_time in MIN
def f(row):
    return row['timestood'].seconds / 60

def v(row):
    if row['next_day_idle_time'] == np.nan:
        return 0
    elif row['next_day_idle_time'].seconds < Timedelta(days=1).seconds:
        return row['next_day_idle_time'].seconds / 60
    else: return 1439

df_points['idle_time'] = df_points.apply(f, axis=1)
#df_points['next_day_idle_time'] = df_points.apply(v, axis=1)
del df_points['timestood']

In [42]:
df_points['idle_time'] = df_points['idle_time'].astype(int)

# Save V2 df_points split

df_points.to_csv("../data/df_points_2019_v2.csv",index=False)

In [43]:
df_points['idle_time'].max()

1439

In [44]:
df_points.head()

,bike_id,lat,lng,time_start,time_end,next_day_idle_time,flag,idle_time
0,75838.0,51.331022,12.316226,2020-12-31 23:22:04,2020-12-31 23:59:59,NaN,NaN,37
1,75838.0,51.326178,12.334760,2021-01-04 19:27:48,2021-01-04 23:59:59,0 days 05:29:32,NaN,272
2,75838.0,51.332178,12.343082,2021-01-05 05:34:11,2021-01-05 13:08:40,NaN,NaN,454
3,75838.0,51.324615,12.336922,2021-01-05 13:13:36,2021-01-05 18:08:29,NaN,NaN,294
4,75838.0,51.330267,12.336166,2021-01-05 18:12:29,2021-01-05 23:59:59,0 days 07:32:36,NaN,347

## Add H3 Index

In [45]:
import h3

#dfh3 = pd.read_csv('../data/df_points_2020_v2.csv')
#dfh3['hex_id'] = 0
#dfh3.head()

df_points['hex_id'] = 0

for ind in tqdm(df_points.index):
    df_points['hex_id'][ind] = h3.geo_to_h3(df_points['lat'][ind], df_points['lng'][ind], 8)
df_points.head()

100%|██████████| 744652/744652 [00:15<00:00, 49533.92it/s]

,bike_id,lat,lng,time_start,time_end,next_day_idle_time,flag,idle_time,hex_id
0,75838.0,51.331022,12.316226,2020-12-31 23:22:04,2020-12-31 23:59:59,NaN,NaN,37,881f1a8dd7fffff
1,75838.0,51.326178,12.334760,2021-01-04 19:27:48,2021-01-04 23:59:59,0 days 05:29:32,NaN,272,881f1a8d91fffff
2,75838.0,51.332178,12.343082,2021-01-05 05:34:11,2021-01-05 13:08:40,NaN,NaN,454,881f1a8d9bfffff
3,75838.0,51.324615,12.336922,2021-01-05 13:13:36,2021-01-05 18:08:29,NaN,NaN,294,881f1a8d91fffff
4,75838.0,51.330267,12.336166,2021-01-05 18:12:29,2021-01-05 23:59:59,0 days 07:32:36,NaN,347,881f1a8d9bfffff

# Add weather Data

In [47]:
dfw = pd.read_csv('../data/weather_data.csv')
dfw['datetime'] = pd.to_datetime(dfw['dt'], unit='s')
dfw = dfw.set_index(['datetime'])
dfw.head()

df_points['temp'] = np.nan
df_points['rain'] = np.nan
df_points['snow'] = np.nan

from tqdm import tqdm
pd.options.mode.chained_assignment = None

for ind in tqdm(df.index):
    wint = df_points['time_start'][ind].replace(minute=0,second=0)
    df_points['temp'][ind] = dfw['temp'][wint].copy()
    df_points['rain'][ind] = dfw['rain_1h'][wint].copy()
    df_points['snow'][ind] = dfw['snow_1h'][wint].copy()

100%|██████████| 571894/571894 [08:28<00:00, 1124.28it/s]

KeyError: 'time_start'

In [49]:
df_points['dt_start'] = pd.to_datetime(df_points['time_start']).map(pd.Timestamp.timestamp).astype(int)
df_points['dt_end'] = pd.to_datetime(df_points['time_end']).map(pd.Timestamp.timestamp).astype(int)
df_points['bike_id'] = df_points['bike_id'].astype(int)

In [56]:
#df_points['idle_time_next_day'] = pd.Timedelta(df_points['next_day_idle_time']).seconds.astype(int)
def x(row):
    tmp = pd.Timedelta(row['next_day_idle_time']).seconds / 60
    if tmp < 1439:
        return tmp
    else: return 1439

df_points['next_day_idle_time'] = df_points.apply(x,axis=1)

KeyError: 'time_start'

In [57]:
del df_points['time_start']
del df_points['time_end']
del df_points['next_day_idle_time']

In [58]:
df_points.head()

,bike_id,lat,lng,flag,idle_time,hex_id,temp,rain,snow,dt_start,dt_end,idle_time_next_day
0,75838,51.331022,12.316226,NaN,37,881f1a8dd7fffff,2.72,NaN,NaN,1609456924,1609459199,1439.000000
1,75838,51.326178,12.334760,NaN,272,881f1a8d91fffff,0.43,NaN,NaN,1609788468,1609804799,329.533333
2,75838,51.332178,12.343082,NaN,454,881f1a8d9bfffff,0.39,NaN,0.44,1609824851,1609852120,1439.000000
3,75838,51.324615,12.336922,NaN,294,881f1a8d91fffff,0.59,NaN,0.26,1609852416,1609870109,1439.000000
4,75838,51.330267,12.336166,NaN,347,881f1a8d9bfffff,0.93,NaN,NaN,1609870349,1609891199,452.600000

# Save

In [32]:
df_points.to_csv('../data/df_points/df_points_2021.csv', index=False)